<% content_for(:meta_title, t(".meta_title", community_title: community.title)) %>

<%= render("shared/sidebar", community: community) %>

<div class="bans row">
  <div class="bans__header col-12">
    <div class="bans__title">
      <%= link_to(t(".title"), community_bans_path(community)) %>
    </div>

    <% if Communities::BansPolicy.new(pundit_user).create? %>
      <%= link_to(t(".create"), new_community_ban_path(community), remote: true, class: 'bans__create-link') %>
    <% end %>
  </div>

  <div class="col-12">
    <%= simple_form_for(:search_ban_form, method: :get, wrapper: :inline_form, html: { class: "bans__search-form form-inline" }) do |f| %>
      <%= f.input :username, as: :string, label: false, input_html: { value: search_param } %>
      <%= f.button :submit, t(".search") %>
      <%= link_to(t(".reset"), community_bans_path(community), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="bans__items col-12">
      <%= render(bans) %>
    </div>
  </div>
</div>

<%= render("shared/pagination", pagination: @pagination) %>