<% content_for(:meta_title, "#{@user.username}: #{t("comments_bookmarks")}") %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('bookmarks') %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_user_path(@user), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_user_path(@user), class: 'dropdown-item') %>

      <% if current_user.id == @user.id %>
        <%= link_to(t("bookmarks"), posts_bookmarks_path, class: 'dropdown-item') %>
        <%= link_to(t("votes"), posts_votes_path, class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("comments") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_bookmarks_path, class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_bookmarks_path, class: 'dropdown-item') %>
    </div>
  </li>
<% end %>

<%= render "users/sidebar", user: @user %>
<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>