<% content_for(:meta_title, t("media")) %>

<%= render 'subs/sidebar' %>

<div class="row">
  <div class="col-12 p-0">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <%= link_to(t('text'), new_sub_text_path(@sub), class: 'nav-link h6 border-bottom rounded-0 p-3') %>
      </li>

      <li class="nav-item">
        <%= link_to(t('link'), new_sub_link_path(@sub), class: 'nav-link h6 border-bottom border-left border-right rounded-0 p-3') %>
      </li>

      <li class="nav-item">
        <%= link_to(t('media'), new_sub_media_path(@sub), class: 'nav-link active h6 border-bottom rounded-0 p-3') %>
      </li>
    </ul>
  </div>

  <div class="col-12 mt-2 mb-3">
    <%= form_with(model: @form, url: sub_medias_path(@sub), multipart: true, class: 'createPostForm') do |f| %>
      <%= f.text_area :title, rows: 3 %>
      <%= f.file_field :file %>
      <%= f.check_box :explicit %>
      <%= f.check_box :spoiler %>
      <%= f.submit t('create') %>
    <% end %>
  </div>
</div>