<%= render 'shared/modal', title: t('edit') do %>
  <%= form_with(model: @form, url: sub_tag_path(@sub, @tag), method: :put, class: 'updateForm') do |f| %>
    <div class="modal-body">
      <%= f.text_field :title %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.submit t('update') %>
    </div>
  <% end %>
<% end %>
