<% content_for(:meta_title, t("new_password")) %>

<div class="col-6 mx-auto">
  <%= form_with(model: @form, url: new_password_path, class: 'newPasswordForm') do |f| %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :token %>
    <%= f.password_field :password %>
    <%= f.submit t('update') %>
  <% end %>
</div>