<div class="content col-12 mt-2 mb-2">
  <div class="mx-auto" style="width: <%= post.media[:desktop].width %>px; height: <%= post.media[:desktop].height %>px;">
    <video preload="none" poster="<%= post.media_url(:desktop) %>" data-plyr-config='<%= VideoPlayerSettings.gif(post.media[:original].duration) %>'>
      <source src="<%= post.media_url(:original) %>" type="video/mp4">
    </video>
  </div>
</div>