<%= render 'shared/modal', title: t('.title') do %>
  <%= simple_form_for(@form, url: forgot_password_path, remote: true) do |f| %>
    <%= f.input :email, as: :email %>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <%= f.button :submit, t('forgot_password.new.submit') %>
  <% end %>
<% end %>