<%= render 'shared/modal', title: t('forgot_password') do %>
  <div class="modal-body">
    <%= simple_form_for(@form, url: forgot_password_path, remote: true) do |f| %>
      <%= f.input :email, as: :email %>

      <div class="form-group">
        <%= recaptcha_tags %>
      </div>

      <%= f.button :submit, t('forgot_password') %>
    <% end %>

    <div class="row">
      <div class="col-12 mt-3">
        <%= link_to(t('sign_in'), new_sign_in_path, remote: true, class: 'sign_in') %>
        <br>
        <%= link_to(t('sign_up'), new_sign_up_path, remote: true, class: 'sign_up') %>
      </div>
    </div>
  </div>
<% end %>