<% content_for(:meta_title, post.title) %>

<%= render("shared/sidebar", community: post.community) %>

<div class="edit-post-page col-12">
  <h6><%= post.title %></h6>

  <%= simple_form_for(@form, url: community_post_path(post.community, post), method: :put, remote: true) do |f| %>
    <%= f.input :text, as: :text, label: false, input_html: { rows: 10 } %>
    <%= f.button :submit %>

    <span class="edit-post-page__formatting-help-link" data-toggle="collapse" data-target="#formatting-help" aria-expanded="false">
      <%= t('formatting_help') %>
    </span>

    <div class="edit-post-page__formatting-help-description collapse" id="formatting-help">
      <%= t('formatting_help_html') %>
    </div>
  <% end %>
</div>