<div class="entry row">
  <div class="title col-12">
    <%= deletion_reason.title %>

    <div class="actions">
      <%= link_to(fa_icon('pencil'), edit_deletion_reason_path(deletion_reason), remote: true, class: 'update') %>
      <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: deletion_reason_path(deletion_reason) }) %>

      <% if deletion_reason.description.present? %>
        <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
      <% end %>
    </div>
  </div>

  <% if deletion_reason.description.present? %>
    <div class="details col-12 d-none">
      <%= deletion_reason.description %>
    </div>
  <% end %>
</div>
