<% content_for(:meta_title, t("deletion_reasons")) %>

<% if @sub.present? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% end %>

<div id="deletion_reasons" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('deletion_reasons'), deletion_reasons_path(sub: @sub)) %>
    </div>

    <div class="actions">
      <% if policy(DeletionReason).create? %>
        <%= link_to(t('create'), new_deletion_reason_path(sub: @sub), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "deletion_reason", collection: @records %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', pagination: @pagination %>