<%= render("shared/modal", title: t(".title")) do %>
  <%= simple_form_for(@form, url: sign_up_path, method: :post, remote: true) do |f| %>
    <%= f.input :username %>
    <%= f.input :password, as: :password %>
    <%= f.input :email, as: :email %>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <%= f.button :submit, t('sign_up.new.submit') %>
  <% end %>

  <%= link_to(t("sign_up.new.forgot_password"), new_forgot_password_path, remote: true, class: 'sign-up__forgot-password-link') %>
<% end %>