<div class="thing col-12 mb-2 pt-2 pb-2 bg-white border rounded">
  <div class="row">
    <div class="info col-12">
      <%= link_to(thing.user.username, posts_user_path(thing.user)) %>

      <% if thing.comment? %>
        <%= t('to') %> <%= link_to(truncate(thing.post.title, length: 75), thing_path(thing.post)) %>
      <% end %>

      <%= t('in') %> <%= link_to(thing.community.url, community_path(thing.community)) %>

      <%= datetime_tag(thing.created_at, :ago) %>

      <% if thing.edited? %>
        <%= t('edited_html', edited_at: datetime_tag(thing.edited_at, :ago)) %>
      <% end %>

      <% if thing.explicit? %>
        <span class="explicit"><%= t('explicit') %></span>
      <% end %>

      <% if thing.spoiler? %>
        <span class="spoiler"><%= t('spoiler') %></span>
      <% end %>
    </div>

    <% if thing.title.present? %>
      <div class="title col-12 mt-1">
        <%= link_to(thing.title, thing_path(thing)) %>
      </div>
    <% end %>

    <% if thing.comment? && thing.association(:comment).loaded? && thing.comment.present? && thing.comment.comment? %>
      <div class="context col-12 mt-2">
        <% if thing.comment.removed? %>
          <%= t("deleted_html", username: link_to(thing.comment.deleted_by.username, posts_user_path(thing.comment.deleted_by)), deleted_at: datetime_tag(thing.comment.deleted_at, :ago), reason: thing.comment.deletion_reason) %>
        <% else %>
          <%= thing.comment.text_html.html_safe %>
        <% end %>
      </div>
    <% end %>

    <% cut = thing.cut_text_preview? %>

    <div class="content <%= "cutCommentText" if cut %> col-12 mt-2 mb-2">
      <%= thing.text_html.html_safe %>
    </div>

    <div class="actions col-12">
      <span class="vote">
        <% if thing.vote&.up? %>
          <%= link_to(fa_icon("arrow-up"), comment_votes_path(thing), data: { params: "create_vote[type]=meh" }, remote: true, method: :post, class: "text-success mr-1") %>
        <% else %>
          <%= link_to(fa_icon("arrow-up"), comment_votes_path(thing), data: { params: "create_vote[type]=up" }, remote: true, method: :post, class: "mr-1") %>
        <% end %>

        <%= thing.score %>

        <% if thing.vote&.down? %>
          <%= link_to(fa_icon("arrow-down"), comment_votes_path(thing), data: { params: "create_vote[type]=meh" }, remote: true, method: :post, class: "text-danger ml-1") %>
        <% else %>
          <%= link_to(fa_icon("arrow-down"), comment_votes_path(thing), data: { params: "create_vote[type]=down" }, remote: true, method: :post, class: "ml-1") %>
        <% end %>
      </span>

      <%= link_to(thing.comments_count, thing_path(thing, anchor: 'comments'), class: "comments_count") %>

      <% if thing.bookmark.present? %>
        <%= link_to(fa_icon('bookmark'), thing_bookmarks_path(thing), remote: true, method: :delete, class: "bookmark", data: { toggle: :tooltip }, title: t('delete_bookmark')) %>
      <% else %>
        <%= link_to(fa_icon('bookmark-o'), thing_bookmarks_path(thing), remote: true, method: :post, class: "bookmark" , data: { toggle: :tooltip }, title: t('bookmark')) %>
      <% end %>

      <% if thing.is_a?(Post) %>
        <% if PostPolicy.new(pundit_user, thing).approve? %>
          <% if thing.approved? %>
            <%= link_to(fa_icon('check'), approve_post_path(thing), remote: true, method: :post, class: 'approve text-success', data: { toggle: :tooltip }, title: t('approved_details', username: thing.approved_by.username, approved_at: l(thing.approved_at))) %>
          <% else %>
            <%= link_to(fa_icon('check'), approve_post_path(thing), remote: true, method: :post, class: 'approve', data: { toggle: :tooltip }, title: t('approve')) %>
          <% end %>
        <% end %>
      <% else %>
        <% if CommentPolicy.new(pundit_user, thing).approve? %>
          <% if thing.approved? %>
            <%= link_to(fa_icon('check'), approve_comment_path(thing), remote: true, method: :post, class: 'approve text-success', data: { toggle: :tooltip }, title: t('approved_details', username: thing.approved_by.username, approved_at: l(thing.approved_at))) %>
          <% else %>
            <%= link_to(fa_icon('check'), approve_comment_path(thing), remote: true, method: :post, class: 'approve', data: { toggle: :tooltip }, title: t('approve')) %>
          <% end %>
        <% end %>
      <% end %>

      <% if thing.is_a?(Post) %>
        <% if PostPolicy.new(pundit_user, thing).destroy? %>
          <% if thing.removed? %>
            <% title = t(
                "deletion_details",
                username: thing.deleted_by.username,
                deleted_at: l(thing.deleted_at),
                reason: thing.deletion_reason.present? ? thing.deletion_reason : t("deletion_reason_not_specified")
            ) %>
          <% else %>
            <% title = t("delete") %>
          <% end %>

          <%= link_to(fa_icon("trash"), remove_post_path(thing), remote: true, class: "delete #{ "text-danger" if thing.removed? }", data: { toggle: :tooltip }, title: title) %>
        <% end %>
      <% else %>
        <% if CommentPolicy.new(pundit_user, thing).destroy? %>
          <% if thing.removed? %>
            <% title = t(
                "deletion_details",
                username: thing.deleted_by.username,
                deleted_at: l(thing.deleted_at),
                reason: thing.deletion_reason.present? ? thing.deletion_reason : t("deletion_reason_not_specified")
            ) %>
          <% else %>
            <% title = t("delete") %>
          <% end %>

          <%= link_to(fa_icon("trash"), remove_comment_path(thing), remote: true, class: "delete #{ "text-danger" if thing.deleted? }", data: { toggle: :tooltip }, title: title) %>
        <% end %>
      <% end %>

      <span class="menu dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon("ellipsis-h") %>
        </span>

        <div class="dropdown-menu">
          <%= link_to(t('report'), new_thing_report_path(thing), remote: true, class: 'report dropdown-item') %>

          <% if policy(Report).show? %>
            <%= link_to(t('reports'), thing_reports_path(thing), remote: true, class: 'reports dropdown-item') %>
          <% end %>

          <% if thing.comment? && CommentPolicy.new(pundit_user, thing).update? %>
            <%= link_to(t("edit"), edit_thing_comment_path(thing), remote: true, class: "update dropdown-item") %>
          <% end %>

          <% if thing.post? %>
            <% if thing.text? && PostPolicy.new(pundit_user, thing).update? %>
              <%= link_to(t('edit'), edit_post_path(thing), class: 'dropdown-item') %>
            <% end %>

            <% if CommentPolicy.new(pundit_user, thing).explicit? %>
              <% if thing.explicit? %>
                <%= link_to(fa_icon('check-square-o', text: t('explicit')), thing_path(thing, update_thing: { explicit: false }), remote: true, method: :put, class: 'explicit dropdown-item') %>
              <% else %>
                <%= link_to(fa_icon('square-o', text: t('explicit')), thing_path(thing, update_thing: { explicit: true }), remote: true, method: :put, class: 'explicit dropdown-item') %>
              <% end %>
            <% end %>

            <% if CommentPolicy.new(pundit_user, thing).spoiler? %>
              <% if thing.spoiler? %>
                <%= link_to(fa_icon('check-square-o', text: t('spoiler')), thing_path(thing, update_thing: { spoiler: false }), remote: true, method: :put, class: 'spoiler dropdown-item') %>
              <% else %>
                <%= link_to(fa_icon('square-o', text: t('spoiler')), thing_path(thing, update_thing: { spoiler: true }), remote: true, method: :put, class: 'spoiler dropdown-item') %>
              <% end %>
            <% end %>

            <% if CommentPolicy.new(pundit_user, thing).ignore_reports? %>
              <% if thing.ignore_reports? %>
                <%= link_to(fa_icon('check-square-o', text: t('ignore_reports')), thing_path(thing, update_thing: { ignore_reports: false }), remote: true, method: :put, class: 'ignore_reports dropdown-item') %>
              <% else %>
                <%= link_to(fa_icon('square-o', text: t('ignore_reports')), thing_path(thing, update_thing: { ignore_reports: true }), remote: true, method: :put, class: 'ignore_reports dropdown-item') %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </span>
    </div>
  </div>
</div>