<% if item[:thing].removed? %>
  <div class="thing comment col-12 mt-2 pr-0">
    <div class="row pr-3">
      <div class="content removedComment col-12">
        <%= t("removed_html", username: link_to(item[:thing].removed_by.username, posts_user_path(item[:thing].removed_by)), removed_at: datetime_ago_tag(item[:thing].removed_at), reason: item[:thing].removed_reason) %>
      </div>
    </div>

    <div class="col-12 pr-3">
      <%= render partial: "comments/nested", locals: { item: item } %>
    </div>
  </div>
<% else %>
  <div class="thing comment col-12 mt-2 pr-0">
    <div class="row pr-3">
      <div class="info col-12 pt-1">
        <span class="comment__expand"><%= fa_icon("plus-square") %></span>
        <%= link_to(item[:thing].user.username, posts_user_path(item[:thing].user), class: "author") %>
        <%= datetime_ago_tag(item[:thing].created_at) %>

        <% if item[:thing].edited? %>
          <%= t('edited_html', edited_at: datetime_ago_tag(item[:thing].edited_at)) %>
        <% end %>

        <span class="comment__children-info">(<span class="comment__children-num"></span> дочерних)</span>
      </div>

      <div class="content col-12 mt-1">
        <%= item[:thing].text_html.html_safe %>
      </div>

      <div class="actions col-12 mt-1">
        <span class="vote">
          <%= link_to(fa_icon("arrow-up"), comment_votes_path(item[:thing]), data: { params: "create_vote[type]=up" }, remote: true, method: :post, class: "mr-1") %>
          <%= item[:thing].score %>
          <%= link_to(fa_icon("arrow-down"), comment_votes_path(item[:thing]), data: { params: "create_vote[type]=down" }, remote: true, method: :post, class: "ml-1") %>
        </span>

        <%= link_to(t("reply").downcase, new_thing_comment_path(item[:thing]), remote: true, class: "reply") %>
      </div>
    </div>

    <div class="col-12 pr-3">
      <% # This condition is unnecessary but prevents idle rendering %>
      <% if item[:nested].present? %>
        <%= render partial: "comments/nested", locals: { item: item } %>
      <% else %>
        <div class="comments row"></div>
      <% end %>
    </div>
  </div>
<% end %>