<%= render 'shared/modal', title: t('delete') do %>
  <%= form_with(model: @form, url: comment_path(@comment), method: :delete, class: 'removeForm') do |f| %>
    <div class="modal-body">
      <% if policy(@comment).remove? %>
        <div class="form-group">
          <select class="reasons form-control">
            <option value=""><% t('deletion_reason_select') %></option>

            <% @deletion_reasons.each do |deletion_reason| %>
              <option value="<%= deletion_reason.description %>"><%= deletion_reason.title %></option>
            <% end %>
          </select>
        </div>

        <%= f.text_area :reason %>
      <% else %>
        <%= t('deletion_confirmation') %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.submit t('delete') %>
    </div>
  <% end %>
<% end %>