<%
  # We need this because comment partial renders not only in own community context, but in many different contexts
  comment_context = ::Context.new(current_user, comment.community)
%>

<%= render 'shared/modal', title: t('delete') do %>
  <%= simple_form_for(@form, url: comment_path(comment), method: :delete, remote: true) do |f| %>
    <div class="modal-body">
      <% if CommentPolicy.new(comment_context, comment).update_removed_reason? %>
        <%= f.input :reason, as: :text %>
      <% else %>
        <%= t('deletion_confirmation') %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.button :submit, t('delete') %>
    </div>
  <% end %>
<% end %>