<%= render("shared/modal", title: t(".title")) do %>
  <%= simple_form_for(@form, url: sign_in_path, remote: true) do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <%= f.button :submit, t("sign_in.new.submit") %>
  <% end %>

  <%= link_to(t("sign_in.new.forgot_password"), new_forgot_password_path, remote: true, class: "sign-in__forgot-password-link pull-left") %>
<% end %>