<% content_for(:meta_title, t("bans")) %>

<%= render 'subs/second_top_menu' %>
<%= render 'subs/sidebar' %>

<div id="bans" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('bans'), sub_bans_path(@sub)) %>
    </div>

    <div class="actions">
      <%= link_to(t('create'), sub_ban_new_path(@sub), remote: true, class: 'create') %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: sub_bans_search_path(@sub), local: true, class: "form-inline") do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("username") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), sub_bans_path(@sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "ban", collection: @records, cached: true %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>