<div data-id="<%= thing.id %>" class="actions col-12">
  <%= link_to(thing.presenter.comments_count, thing_path(thing, anchor: 'comments'), class: "comments_count") %>

  <span class="menu dropdown">
    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon("ellipsis-h") %>
    </span>

    <div class="dropdown-menu dropdown-menu-right">
      <% if thing.comment? && CommentPolicy.new(pundit_user, thing).update? %>
        <%= link_to(t("edit"), edit_thing_comment_path(thing), remote: true, class: "update dropdown-item") %>
      <% end %>

      <% if thing.bookmark.present? %>
        <%= link_to(t("delete_bookmark"), thing_bookmarks_path(thing), remote: true, method: :delete, class: 'bookmark dropdown-item') %>
      <% else %>
        <%= link_to(t("bookmark"), thing_bookmarks_path(thing), remote: true, method: :post, class: 'bookmark dropdown-item') %>
      <% end %>

      <% if !thing.approved? && ApproveThingPolicy.new(pundit_user, thing).create? %>
        <%= link_to(t("approve"), thing_approve_path(thing), remote: true, method: :post, class: 'approve dropdown-item') %>
      <% end %>

      <% if !thing.deleted? && DeleteThingPolicy.new(pundit_user, thing).create? %>
        <%= link_to(t("delete"), new_thing_delete_path(thing), remote: true, method: :get, class: "delete dropdown-item") %>
      <% end %>

      <%= link_to(t('report'), new_thing_report_path(thing), remote: true, class: 'report dropdown-item') %>

      <% if ReportPolicy.new(pundit_user, nil).thing_index? %>
        <%= link_to(t('reports'), thing_reports_path(thing), remote: true, class: 'reports dropdown-item') %>
      <% end %>

      <% if thing.post? %>
        <% if thing.text? && PostPolicy.new(pundit_user, thing).update? %>
          <%= link_to(t("edit"), edit_post_path(thing), class: "dropdown-item") %>
        <% end %>

        <% if ThingPolicy.new(pundit_user, thing).tag? && thing.post? %>
          <%= link_to(t('tag'), edit_thing_path(thing), remote: true, class: 'tag dropdown-item') %>
        <% end %>

        <% if ThingPolicy.new(pundit_user, thing).explicit? %>
          <% if thing.explicit? %>
            <%= link_to(fa_icon('check-square-o', text: t('explicit')), thing_path(thing, update_thing: { explicit: false }), remote: true, method: :put, class: 'explicit dropdown-item') %>
          <% else %>
            <%= link_to(fa_icon('square-o', text: t('explicit')), thing_path(thing, update_thing: { explicit: true }), remote: true, method: :put, class: 'explicit dropdown-item') %>
          <% end %>
        <% end %>

        <% if ThingPolicy.new(pundit_user, thing).spoiler? %>
          <% if thing.spoiler? %>
            <%= link_to(fa_icon('check-square-o', text: t('spoiler')), thing_path(thing, update_thing: { spoiler: false }), remote: true, method: :put, class: 'spoiler dropdown-item') %>
          <% else %>
            <%= link_to(fa_icon('square-o', text: t('spoiler')), thing_path(thing, update_thing: { spoiler: true }), remote: true, method: :put, class: 'spoiler dropdown-item') %>
          <% end %>
        <% end %>

        <% if ThingPolicy.new(pundit_user, thing).ignore_reports? %>
          <% if thing.ignore_reports? %>
            <%= link_to(fa_icon('check-square-o', text: t('ignore_reports')), thing_path(thing, update_thing: { ignore_reports: false }), remote: true, method: :put, class: 'ignore_reports dropdown-item') %>
          <% else %>
            <%= link_to(fa_icon('square-o', text: t('ignore_reports')), thing_path(thing, update_thing: { ignore_reports: true }), remote: true, method: :put, class: 'ignore_reports dropdown-item') %>
          <% end %>
        <% end %>

        <% if ThingPolicy.new(pundit_user, thing).receive_notifications? %>
          <% if thing.receive_notifications? %>
            <%= link_to(fa_icon('check-square-o', text: t('receive_notifications')), thing_path(thing, update_thing: { receive_notifications: false }), remote: true, method: :put, class: 'notifications dropdown-item') %>
          <% else %>
            <%= link_to(fa_icon('square-o', text: t('receive_notifications')), thing_path(thing, update_thing: { receive_notifications: true }), remote: true, method: :put, class: 'notifications dropdown-item') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </span>

  <span class="vote float-right">
    <% if thing.vote&.up? %>
      <%= link_to(fa_icon("arrow-up"), thing_votes_path(thing), data: { params: "thing_vote[type]=meh" }, remote: true, method: :post, class: "text-success mr-1") %>
    <% else %>
      <%= link_to(fa_icon("arrow-up"), thing_votes_path(thing), data: { params: "thing_vote[type]=up" }, remote: true, method: :post, class: "mr-1") %>
    <% end %>

    <%= thing.presenter.score %>

    <% if thing.vote&.down? %>
      <%= link_to(fa_icon("arrow-down"), thing_votes_path(thing), data: { params: "thing_vote[type]=meh" }, remote: true, method: :post, class: "text-danger ml-1") %>
    <% else %>
      <%= link_to(fa_icon("arrow-down"), thing_votes_path(thing), data: { params: "thing_vote[type]=down" }, remote: true, method: :post, class: "ml-1") %>
    <% end %>
  </span>
</div>