<div data-id="<%= thing.id %>" class="thing row pt-2 pb-2 border-bottom">
  <div class="info col-12">
    <%= link_to(thing.user.username, user_path(thing.user)) %>

    <% if thing.comment? %>
      <%= t('to') %> <%= link_to(truncate(thing.post.title, length: 75), thing_path(thing.post)) %>
    <% end %>

    <%= t('in') %> <%= link_to(thing.sub.url, sub_path(thing.sub)) %>

    <%= datetime_tag(thing.created_at, :ago) %>

    <% if thing.edited? %>
      <%= t('edited_html', edited_at: datetime_tag(thing.edited_at, :ago)) %>
    <% end %>

    <% if thing.explicit? %>
      <span class="explicit"><%= t('explicit') %></span>
    <% end %>

    <% if thing.spoiler? %>
      <span class="spoiler"><%= t('spoiler') %></span>
    <% end %>

    <% if thing.tag.present? %>
      <span class="tag"><%= thing.tag %></span>
    <% end %>
  </div>

  <% if thing.title.present? %>
    <div class="title col-12 mt-1">
      <%= link_to(thing.title, thing_path(thing)) %>
    </div>
  <% end %>

  <% if thing.comment? && thing.association(:comment).loaded? && thing.comment.present? && thing.comment.comment? %>
    <div class="context col-12 mt-2">
      <% if thing.comment.deleted? %>
        <% if thing.comment.deletion_reason.present? %>
          <%= t("deleted_thing_with_reason_html", username: link_to(thing.comment.deleted_by.username, user_path(thing.comment.deleted_by)), deleted_at: datetime_tag(thing.comment.deleted_at, :ago), reason: thing.comment.deletion_reason) %>
        <% else %>
          <%= t("deleted_thing_without_reason_html", username: link_to(thing.comment.deleted_by.username, user_path(thing.comment.deleted_by)), deleted_at: datetime_tag(thing.comment.deleted_at, :ago)) %>
        <% end %>
      <% else %>
        <%= thing.comment.html_text.html_safe %>
      <% end %>
    </div>
  <% end %>

  <%= render thing.presenter.preview, thing: thing %>

  <div class="actions col-12">
    <%= link_to(thing.presenter.comments_count, thing_path(thing, anchor: 'comments'), class: "comments_count") %>

    <span class="vote float-right">
      <%= link_to(fa_icon("arrow-up"), thing_votes_path(thing), data: { params: "thing_vote[type]=up" }, remote: true, method: :post, class: "mr-1") %>
      <%= thing.presenter.score %>
      <%= link_to(fa_icon("arrow-down"), thing_votes_path(thing), data: { params: "thing_vote[type]=down" }, remote: true, method: :post, class: "ml-1") %>
    </span>
  </div>
</div>