<% content_for(:meta_title, t("change_password")) %>

<div class="col-12">
  <%= form_with(model: @form, url: password_path, method: :put, class: 'changePasswordForm') do |f| %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :token %>
    <%= f.password_field :password %>
    <%= f.submit t('update') %>
  <% end %>
</div>