<% content_for(:second_header) do %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="second-header__pages-link nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= title %>
      </a>

      <div class="dropdown-menu">
        <%= link_to(t(".posts"), user_posts_path(user), class: 'dropdown-item') %>
        <%= link_to(t(".comments"), user_comments_path(user), class: 'dropdown-item') %>

        <% if User::Bookmark::PostPolicy.new(pundit_user, user).index? %>
        <%= link_to(t(".bookmarks"), user_bookmarks_posts_path(user), class: 'dropdown-item') %>
        <% end %>

        <% if VotePolicy.new(pundit_user, user).index? %>
          <%= link_to(t(".votes"), user_votes_path(user), class: 'dropdown-item') %>
        <% end %>
      </div>
    </li>

    <%= yield %>
  </ul>
<% end %>