<% content_for(:sidebar) do %>
  <div class="sidebar row text-center border-bottom pb-3">
    <div class="col-12">
      <%= link_to(@user.username, user_path(@user), class: 'font-weight-bold') %>
    </div>

    <div class="col-12">
      <%= t('signed_up_at') %> <%= datetime_tag(@user.created_at, :short) %>
    </div>

    <div class="col-12">
      <%= number_with_delimiter(@user.posts_points) %> <%= t('points_count', count: @user.posts_points) %> <%= t('for_posts') %><br>
      <%= number_with_delimiter(@user.comments_points) %> <%= t('points_count', count: @user.comments_points) %> <%= t('for_comments') %>
    </div>
  </div>
<% end %>