<% content_for(:meta_title, t(".meta_title")) %>

<%= render("users/sidebar", user: user) %>

<%= link_to(t(".title"), edit_users_path, class: "h5") %>

<div class="edit-user-page col-12">
  <%= simple_form_for(@form, url: users_path, method: :put, remote: true) do |f| %>
    <%= f.input :email, as: :email %>
    <%= f.input :password, as: :password %>
    <%= f.input :password_current, as: :password %>
    <%= f.button :submit %>
  <% end %>
</div>