<% content_for(:meta_title, "#{user.username}: #{t("posts")}") %>

<%= render "users/sidebar", user: user %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("posts") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_user_path(user), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_user_path(user), class: 'dropdown-item') %>

      <% if BookmarkPolicy.new(pundit_user, user).posts? %>
        <%= link_to(t("bookmarks"), posts_user_bookmarks_path(user), class: 'dropdown-item') %>
      <% end %>

      <% if VotePolicy.new(pundit_user, user).posts? %>
        <%= link_to(t("votes"), posts_user_votes_path(user), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render(posts) %>
<%= render 'shared/pagination', pagination: @pagination %>