<% content_for(:meta_title, "#{@user.username}: #{t("posts")}") %>

<% content_for(:second_top_menu) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= ThingsTypes.new(params[:thing_type]).i18n %>
    </a>

    <div class="dropdown-menu">
      <% user_profile_menu(@user).each do |title, path| %>
        <%= link_to(title, path, class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= ThingsSorting.new(params[:thing_sort]).i18n %>
    </a>

    <div class="dropdown-menu">
      <% ThingsSorting.new.list.each do |k, v| %>
        <%= link_to(v, user_path(@user, thing_type: params[:thing_type], thing_sort: k), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= thing_date_filter_options[params[:thing_date]] %>
    </a>

    <div class="dropdown-menu">
      <% thing_date_filter_options.each do |k, v| %>
        <%= link_to(v, user_path(@user, thing_sort: params[:thing_sort], thing_date: k, thing_type: params[:thing_type]), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render "users/sidebar" %>
<%= render partial: "things/thing", collection: @records, cached: true %>
<%= render 'shared/pagination', after: @after_record %>