<% content_for(:meta_title, t("pages")) %>

<%= render 'subs/sidebar' %>

<div class="col-12 bg-white border rounded mb-3">
  <div id="pages" class="row mt-2 mb-3">
    <div class="col-12 h5">
      <%= link_to(t('pages'), sub_pages_path(@sub)) %>
    </div>

    <div class="col-12">
      <%= form_with(model: @form, url: sub_pages_path(@sub)) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_area :text %>

        <%= f.submit t('create') %>
      <% end %>
    </div>
  </div>
</div>
