<% content_for(:sidebar) do %>
  <div class="sidebar row bg-white border rounded mb-3 pb-3">
    <div class="col-12 rounded-top bg-dark text-white pt-2 pb-2">
      <%= t('community') %>

      <span class="dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon(:cog) %>
      </span>

      <div class="dropdown-menu dropdown-menu-right">
        <% if policy(:mod_queue).new_posts? %>
          <%= link_to(t("mod_queue"), new_posts_community_mod_queues_path(community), class: "dropdown-item") %>
        <% end %>

        <% if policy(Moderator).index? %>
          <%= link_to(t("moderators"), community_moderators_path(community), class: "dropdown-item") %>
        <% end %>

        <% if policy(Ban).index? %>
          <%= link_to(t("bans"), community_bans_path(community), class: "dropdown-item") %>
        <% end %>

        <% if policy(Rule).index? %>
          <%= link_to(t("rules"), community_rules_path(community), class: "dropdown-item") %>
        <% end %>

        <% if policy(community).update? %>
          <%= link_to(t("settings"), edit_community_path(community), class: "dropdown-item") %>
        <% end %>
      </div>
    </div>

    <div class="col-12 mt-2">
      <%= link_to(community.title, community_path(community), class: 'font-weight-bold') %>
    </div>

    <div class="col-12 mt-2">
      <%= community.followers_count %>
    </div>

    <div class="col-12 mt-2">
      <%= community.description %>
    </div>

    <div class="col-12 mt-2">
      <% if user_signed_in? %>
        <% if policy(Follow).create? %>
          <%= link_to(t('follow'), community_follows_path(community), class: 'follow btn btn-primary btn-block', remote: true, method: :post) %>

        <% elsif policy(Follow).destroy? %>
          <%= link_to(t('unfollow'), community_follows_path(community), class: 'follow btn btn-primary btn-block', remote: true, method: :delete) %>
        <% end %>
      <% else %>
        <%= link_to(t('follow'), new_sign_in_path, remote: true, class: 'signIn btn btn-primary btn-block') %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to(t('create_post'), new_community_post_path(community), class: 'btn btn-primary btn-block') %>
      <% else %>
        <%= link_to(t('create_post'), new_sign_in_path, remote: true, class: 'signIn btn btn-primary btn-block') %>
      <% end %>
    </div>
  </div>

  <% if sidebar_rules.present? %>
    <div class="row bg-white border rounded mt-3 mb-3 pb-2">
      <div class="col-12 rounded-top bg-dark text-white pt-2 pb-2">
        <%= t('rules') %>
      </div>

      <div class="col-12 mt-2">
        <div class="row">
          <% sidebar_rules.each do |rule| %>
            <% if rule.description.present? %>
              <div class="sidebarRule col-12 mt-1" data-toggle="collapse" data-target="#sidebarRule<%= rule.to_param %>" aria-expanded="false">
                <%= rule.title %> <%= fa_icon('caret-down', class: 'float-right') %>
              </div>

              <div class="col-12 collapse mt-1" id="sidebarRule<%= rule.to_param %>">
                <%= rule.description %>
              </div>
            <% else %>
              <div class="col-12 mt-1">
                <%= rule.title %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if sidebar_moderators.present? %>
    <div class="row bg-white border rounded mt-3 mb-3 pb-2">
      <div class="col-12 rounded-top bg-dark text-white pt-2 pb-2">
        <%= t('moderators') %>
      </div>

      <div class="col-12 mt-2">
        <div class="row">
          <% sidebar_moderators.each do |moderator| %>
            <div class="col-12">
              <%= link_to(moderator.user.username, posts_user_path(moderator.user)) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>