<% content_for(:sidebar) do %>
  <div class="sidebar__item row">
    <div class="sidebar__item-header col-12">
      <%= t('.community') %>

      <span class="sidebar__item-header-menu-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= fa_icon(:cog) %>
      </span>

      <div class="sidebar__item-header-menu dropdown-menu dropdown-menu-right">
        <% if Communities::ModQueues::New::PostsPolicy.new(pundit_user).index? %>
          <%= link_to(t(".community_menu.mod_queue"), community_mod_queues_new_posts_path(community), class: "dropdown-item") %>
        <% end %>

        <% if Communities::ModeratorsPolicy.new(pundit_user).index? %>
          <%= link_to(t(".community_menu.moderators"), community_moderators_path(community), class: "dropdown-item") %>
        <% end %>

        <% if Communities::BansPolicy.new(pundit_user).index? %>
          <%= link_to(t(".community_menu.bans"), community_bans_path(community), class: "dropdown-item") %>
        <% end %>

        <% if Communities::RulesPolicy.new(pundit_user).index? %>
          <%= link_to(t(".community_menu.rules"), community_rules_path(community), class: "dropdown-item") %>
        <% end %>

        <% if CommunitiesPolicy.new(pundit_user, community).update? %>
          <%= link_to(t(".community_menu.settings"), edit_community_path(community), class: "dropdown-item") %>
        <% end %>
      </div>
    </div>

    <div class="sidebar__item-content col-12">
      <%= link_to(community.title, community_path(community), class: 'font-weight-bold') %>
    </div>

    <div class="sidebar__item-content sidebar__community-followers-counter col-12">
      <%= community.followers_count %>
    </div>

    <% if community.description.present? %>
      <div class="sidebar__item-content col-12">
        <%= community.description %>
      </div>
    <% end %>

    <div class="sidebar__item-content col-12">
      <% if Communities::FollowsPolicy.new(pundit_user).create? %>
        <%= link_to(t('.follow'), community_follow_path(community), class: 'sidebar__community-follow-link btn btn-primary btn-block', remote: true, method: :post) %>
      <% elsif Communities::FollowsPolicy.new(pundit_user).destroy? %>
        <%= link_to(t('.unfollow'), community_follow_path(community), class: 'sidebar__community-follow-link btn btn-primary btn-block', remote: true, method: :delete) %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to(t('.create_post'), new_text_community_posts_path(community), class: 'btn btn-primary btn-block') %>
      <% else %>
        <%= link_to(t('.create_post'), new_sign_in_path, remote: true, class: 'sidebar__sign-in-link btn btn-primary btn-block') %>
      <% end %>
    </div>
  </div>

  <% if sidebar_rules.present? %>
    <div class="sidebar__item row">
      <div class="sidebar__item-header col-12">
        <%= t('.rules') %>
      </div>

      <div class="sidebar__item-content col-12">
        <div class="row">
          <% sidebar_rules.each do |rule| %>
            <% rule_id_name = "sidebar_rule_#{rule.id}" %>
            <% if rule.description.present? %>
              <div class="col-12" data-toggle="collapse" data-target="#<%= rule_id_name %>" aria-expanded="false">
                <%= rule.title %> <%= fa_icon('caret-down', class: 'float-right') %>
              </div>

              <div class="col-12 collapse" id="<%= rule_id_name %>">
                <%= rule.description %>
              </div>
            <% else %>
              <div class="col-12">
                <%= rule.title %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if sidebar_moderators.present? %>
    <div class="sidebar__item row">
      <div class="sidebar__item-header col-12">
        <%= t('.moderators') %>
      </div>

      <div class="sidebar__item-content col-12">
        <div class="row">
          <% sidebar_moderators.each do |moderator| %>
            <div class="col-12">
              <%= link_to(moderator.username, user_posts_path(moderator.user)) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>