<div class="bans__item row">
  <div class="bans__item-title col-12">
    <%= link_to(ban.username, posts_user_path(ban.user)) %>

    <div class="bans__item-actions">
      <% if policy(ban).update? %>
        <%= link_to(fa_icon("pencil"), edit_community_ban_path(ban.community, ban), remote: true, class: "bans__item-update-link") %>
      <% end %>

      <% if policy(ban).destroy? %>
        <%= link_to(fa_icon("trash"), "#", class: "bans__item-delete-link", data: { url: community_ban_path(ban.community, ban) }) %>
      <% end %>

      <span class="bans__item-details-link"><%= fa_icon("ellipsis-h") %></span>
    </div>
  </div>

  <div class="bans__item-details col-12">
    <%= ban.details %>
  </div>
</div>