<%= render 'shared/modal', title: t('create') do %>
  <%= simple_form_for(@form, remote: true) do |f| %>
    <div class="modal-body">
      <%= f.input :username %>
      <%= f.input :reason, as: :text %>
      <%= f.input :days, as: :integer %>
      <%= f.input :permanent, as: :boolean %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.button :submit, t('create') %>
    </div>
  <% end %>
<% end %>