<% content_for(:meta_title, t("bans")) %>

<div id="bans" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('bans'), bans_path) %>
    </div>

    <div class="actions">
      <%= link_to(t('create'), new_ban_path, remote: true, class: 'create') %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: search_bans_path, local: true, class: "form-inline") do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("username") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), bans_path, class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "ban", collection: @records, cached: true %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>