<%# content_for(:meta_title, @facade.index_meta_title) %>

<% if @sub.present? %>
  <%= render 'subs/sidebar', sub: @sub, facade: @facade %>
<% else %>
  <%= render 'shared/sidebar', facade: @facade %>
<% end %>

<div id="bans" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('bans'), bans_path(sub: @sub)) %>
    </div>

    <div class="actions">
      <% if policy(Ban).create? %>
        <%= link_to(t('create'), new_ban_path(sub: @sub), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: bans_path, local: true, method: :get, class: "form-inline") do |f| %>
      <%= f.hidden_field :sub, value: params[:sub] %>
      <%= f.text_field :query, value: params[:query], placeholder: t("username") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), bans_path(sub: @sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "ban", collection: @records %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', pagination: @pagination %>