<% content_for(:meta_title, "#{community.title}: #{t("bans")}") %>

<%= render("shared/sidebar", community: community) %>

<div id="bans" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t("bans"), community_bans_path(community)) %>
    </div>

    <div class="actions">
      <% if policy(Ban).create? %>
        <%= link_to(t("create"), new_community_ban_path(community), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="col-12">
    <%= simple_form_for(:search, method: :get, wrapper: :inline_form, html: { class: "form-inline" }) do |f| %>
      <%= f.input :query, as: :string, label: false, input_html: { value: params.dig(:search, :query), class: "mb-2 mr-2" }, placeholder: t("username") %>
      <%= f.button :submit, t("search"), class: "mb-2 mr-2" %>
      <%= link_to(t("reset"), community_moderators_path(community), class: "btn btn-primary mb-2") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render(bans) %>
    </div>
  </div>
</div>

<%= render("shared/pagination", pagination: @pagination) %>