<% content_for(:meta_title, t(params[:sort])) %>

<% content_for(:second_top_menu) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= ThingsSorting.new(params[:sort]).i18n %>
    </a>

    <div class="dropdown-menu">
      <% ThingsSorting.new.list.each do |k, v| %>
        <%= link_to(v, root_path(sort: k), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= ThingsDates.new(params[:date]).i18n %>
    </a>

    <div class="dropdown-menu">
      <% ThingsDates.new.list.each do |k, v| %>
        <%= link_to(v, root_path(sort: params[:sort], date: k), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render "home/sidebar" %>
<%= render partial: "things/thing", collection: @records, cached: true %>
<%= render "shared/pagination", pagination_record: @pagination_record %>