<% content_for(:meta_title, mod_queue_filter_options[params[:mod_queue_type]]) %>

<% content_for(:second_top_menu) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= mod_queue_filter_options[params[:mod_queue_type]] %>
    </a>

    <div class="dropdown-menu">
      <% mod_queue_filter_options.each do |k, v| %>
        <%= link_to(v, mod_queues_path(sub: @sub, mod_queue_type: k), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= thing_type_filter_options[params[:thing_type]] %>
    </a>

    <div class="dropdown-menu">
      <% thing_type_filter_options.each do |k, v| %>
        <%= link_to(v, mod_queues_path(sub: @sub, mod_queue_type: params[:mod_queue_type], thing_type: k), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<% if @sub.present? %>
  <%= render "subs/sidebar" %>
<% end %>

<%= render partial: "things/thing", collection: @records, cached: true %>
<%= render 'shared/pagination', after: @after_record %>