<% content_for(:meta_title, "#{@community.title}: #{t("posts_mod_queue")}") %>

<%= render 'shared/sidebar', community: @community %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("new") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("new"), posts_community_mod_queues_path(@community), class: 'dropdown-item') %>
      <%= link_to(t("reports"), posts_community_reports_path(@community), class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("posts") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_community_mod_queues_path(@community), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_community_mod_queues_path(@community), class: 'dropdown-item') %>
    </div>
  </li>
<% end %>

<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>