<% content_for(:meta_title, t(".meta_title", community_title: community.title)) %>

<% content_for(:second_header) do %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="second-header__types-link nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("mod_queues.navigation.reports") %>
      </a>

      <div class="dropdown-menu">
        <%= link_to(t("mod_queues.navigation.new"), new_posts_community_mod_queues_path(community), class: 'dropdown-item') %>
        <%= link_to(t("mod_queues.navigation.reports"), reported_posts_community_mod_queues_path(community), class: 'dropdown-item') %>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="second-header__reportable-types-link nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("mod_queues.navigation.comments") %>
      </a>

      <div class="dropdown-menu">
        <%= link_to(t("mod_queues.navigation.posts"), reported_posts_community_mod_queues_path(community), class: 'dropdown-item') %>
        <%= link_to(t("mod_queues.navigation.comments"), reported_comments_community_mod_queues_path(community), class: 'dropdown-item') %>
      </div>
    </li>
  </ul>
<% end %>

<%= render("shared/sidebar", community: community) %>
<%= render(comments) %>
<%= render("shared/pagination", pagination: @pagination) %>