<% content_for(:meta_title, @page.title) %>

<% if @sub.present? %>
  <%= render 'subs/sidebar' %>
<% end %>

<div id="pages" class="row mt-3 mb-3">
  <div class="col-12 h5 mb-3">
    <%= link_to(t('pages'), pages_path(sub: @sub)) %>
  </div>

  <div class="col-12">
    <%= form_with(model: @form, url: page_path(@page), method: :put, class: 'updateForm') do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :text %>

      <%= f.submit t('update') %>
    <% end %>
  </div>
</div>