<% content_for(:meta_title, @facade.edit_meta_title) %>

<% if @facade.sub_context? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% else %>
  <%= render 'shared/sidebar' %>
<% end %>

<div class="col-12 bg-white border rounded mb-3">
  <div id="pages" class="row mt-2 mb-3">
    <div class="col-12 h5">
      <%= link_to(t('pages'), pages_path(sub: @sub)) %>
    </div>

    <div class="col-12">
      <%= form_with(model: @form, url: page_path(@page), method: :put, class: 'updateForm') do |f| %>
        <%= f.text_field :title %>
        <%= f.text_area :text %>

        <%= f.submit t('update') %>
      <% end %>
    </div>
  </div>
</div>
