<% content_for(:meta_title, t(".meta_title", community_title: community.title)) %>

<%= render("shared/sidebar", community: community) %>

<div class="rules row">
  <div class="rules__header col-12">
    <div class="rules__title">
      <%= link_to(t(".title"), community_rules_path(community)) %>
    </div>

    <% if Communities::RulesPolicy.new(pundit_user, nil).create? %>
      <%= link_to(t(".create"), new_community_rule_path(community), remote: true, class: "rules__create-link") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="rules__items col-12">
      <%= render(@rules) %>
    </div>
  </div>
</div>

<%= render("shared/pagination", pagination: @pagination) %>