<% content_for(:meta_title, t(".meta_title")) %>

<%= render("shared/sidebar", community: community) %>

<h5><%= t('.title') %></h5>

<div class="change-password-page col-12">
  <%= simple_form_for(@form, url: change_password_path, remote: true) do |f| %>
    <%= f.input :token, as: :hidden %>
    <%= f.input :password, as: :password %>
    <%= f.button :submit %>
  <% end %>
</div>