<% content_for(:meta_title, @facade.index_meta_title) %>

<% if @facade.sub_context? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% else %>
  <%= render 'shared/sidebar' %>
<% end %>

<div id="tags" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('tags'), sub_tags_path(@sub)) %>
    </div>

    <div class="actions">
      <% if policy(Tag).create? %>
        <%= link_to(t('create'), new_sub_tag_path(@sub), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "tag", collection: @records %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', pagination: @pagination %>