<% content_for(:meta_title, t("blacklisted_domains")) %>

<%= render 'subs/second_top_menu' %>
<%= render 'subs/sidebar' %>

<div id="blacklisted_domains" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('blacklisted_domains'), sub_blacklisted_domains_path(@sub)) %>
    </div>

    <div class="actions">
      <%= link_to(t('create'), new_sub_blacklisted_domain_path(@sub), remote: true, class: 'create') %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: search_sub_blacklisted_domains_path(@sub), local: true, class: "form-inline") do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("domain") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), sub_blacklisted_domains_path(@sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "blacklisted_domain", collection: @records, cached: true %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>