<% content_for(:meta_title, t("blacklisted_domains")) %>

<% if @sub.present? %>
  <%= render 'subs/sidebar', sub: @sub, facade: @facade %>
<% else %>
  <%= render 'shared/sidebar', facade: @facade %>
<% end %>

<div id="blacklisted_domains" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('blacklisted_domains'), blacklisted_domains_path(sub: @sub)) %>
    </div>

    <div class="actions">
      <% if policy(BlacklistedDomain).create? %>
        <%= link_to(t('create'), new_blacklisted_domain_path(sub: @sub), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: blacklisted_domains_path, method: :get, local: true, class: "form-inline") do |f| %>
      <%= f.hidden_field :sub, value: params[:sub] %>
      <%= f.text_field :query, value: params[:query], placeholder: t("domain") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), blacklisted_domains_path(sub: @sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "blacklisted_domain", collection: @records %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', pagination_record: @pagination_record %>