<% content_for(:sidebar) do %>
  <div class="sidebar row text-center border-bottom pb-3">
    <div class="col-12">
      <%= link_to(@sub.title, sub_path(@sub), class: 'font-weight-bold') %>

      <% if Current.user&.staff? || Current.user&.moderator?(@sub) %>
        <span class="dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon(:cog) %>
        </span>

        <div class="dropdown-menu dropdown-menu-right">
          <% sub_mod_menu(@sub).each do |title, path| %>
            <%= link_to(title, path, class: 'dropdown-item') %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="col-12">
      <%= number_with_delimiter(@sub.follows_count) %> <%= t('follows_count', count: @sub.follows_count) %>
    </div>

    <div class="col-12 mt-2">
      <%= @sub.description %>
    </div>

    <div class="col-12 mt-2">
      <% if Current.user&.follower?(@sub) %>
        <%= link_to(t('unsubscribe'), sub_follow_path(@sub), class: 'follow btn btn-primary', remote: true, method: :delete) %>
      <% else %>
        <%= link_to(t('subscribe'), sub_follow_path(@sub), class: 'follow btn btn-primary', remote: true, method: :post) %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to(t('create_post'), new_sub_text_path(@sub), class: 'btn btn-primary') %>
      <% else %>
        <%= link_to(t('create_post'), new_sign_in_path, remote: true, class: 'signIn btn btn-primary') %>
      <% end %>
    </div>
  </div>
<% end %>

<% ban = Current.user&.banned?(@sub) %>
<% if ban.present? %>
  <div class="row text-center text-danger border-bottom pb-3">
    <div class="col-12 mt-3">
      <% if ban.permanent? %>
        <%= t('banned_permanent') %>
      <% else %>
        <%= t('banned_until_html', until: datetime_tag(ban.end_at, :short)) %>
      <% end %>
    </div>
  </div>
<% end %>
