<% content_for(:meta_title, @thing.title) %>

<%= render 'subs/sidebar' %>

<div class="row">
  <div class="col-12 mt-2 mb-3">
    <%= form_with(model: @form, url: text_post_update_path(@sub, @thing), method: :put, class: 'updatePostForm') do |f| %>
      <%= f.text_area :title, value: @thing.title, rows: 3, disabled: true %>
      <%= f.text_area :text %>
      <%= f.submit t('update') %>

      <span class="formatting float-right mt-2" data-toggle="collapse" data-target="#formatting" aria-expanded="false">
      <%= t('formatting') %>
    </span>

      <div class="collapse mt-2" id="formatting">
        <%= t('formatting_body_html') %>
      </div>
    <% end %>
  </div>
</div>