<% content_for(:meta_title, t("text")) %>

<%= render 'subs/sidebar' %>

<div class="col-12 bg-white border rounded mb-3">
  <div class="row">
    <div class="col-12 p-0">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to(t('text'), text_post_new_path(@sub, :text), class: 'nav-link active h6 border-bottom rounded-0 p-3') %>
        </li>

        <li class="nav-item">
          <%= link_to(t('link'), link_post_new_path(@sub, :link), class: 'nav-link h6 border-bottom border-left border-right rounded-0 p-3') %>
        </li>

        <li class="nav-item">
          <%= link_to(t('media'), media_post_new_path(@sub, :media), class: 'nav-link h6 border-bottom rounded-0 p-3') %>
        </li>
      </ul>
    </div>

    <div class="col-12 mt-2 mb-3">
      <%= form_with(model: @form, url: text_post_create_path(@sub), class: 'createPostForm') do |f| %>
        <%= f.text_area :title, rows: 3 %>
        <%= f.text_area :text %>
        <%= f.check_box :explicit %>
        <%= f.check_box :spoiler %>
        <%= f.submit t('create') %>

        <span class="formatting float-right mt-2" data-toggle="collapse" data-target="#formatting" aria-expanded="false">
          <%= t('formatting') %>
        </span>

        <div class="collapse mt-2" id="formatting">
          <%= t('formatting_body_html') %>
        </div>
      <% end %>
    </div>
  </div>
</div>