<div class="post col-12">
  <div class="row">
    <div class="post__information col-12">
      <%= link_to(post.user.username, user_posts_path(post.user)) %>
      <%= t('.posted_in') %> <%= link_to(post.community.url, community_path(post.community)) %>
      <%= post.created_at %>

      <% if post.edited? %>
        <%= post.edited_at %>
      <% end %>

      <% if post.explicit? %>
        <span class="post__explicit-label"><%= t('.explicit_label') %></span>
      <% end %>

      <% if post.spoiler? %>
        <span class="post__spoiler-label"><%= t('.spoiler_label') %></span>
      <% end %>
    </div>

    <div class="post__title col-12">
      <%= link_to(post.title, post_path(post)) %>
    </div>

    <% if post.removed? %>
      <div class="post__removed-content col-12">
        <%= post.removed_message %>
      </div>
    <% elsif post.text? %>
      <div class="post__text-content col-12">
        <%= post.text_html.html_safe %>
      </div>
    <% elsif post.url? %>
      <div class="post__link-content col-12">
        <%= link_to(post.url_title, post.url, target: "_blank", rel: "nofollow") %>
      </div>
    <% elsif post.image.present? %>
      <div class="post__image-content col-12">
        <%= link_to(post_path(post)) do %>
          <%= image_tag(post.image_url(:desktop), class: "img-fluid", width: post.image_width, height: post.image_height) %>
        <% end %>
      </div>
    <% end %>

    <div class="post__actions col-12">
      <span class="post__votes">
        <%= post.up_vote_link %>
        <%= post.score %>
        <%= post.down_vote_link %>
      </span>

      <%= post.comments_link %>
      <%= post.bookmark_link %>

      <% if policy(post).approve? %>
        <%= post.approve_link %>
      <% end %>

      <% if policy(post).destroy? %>
        <%= post.remove_link %>
      <% end %>

      <span class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon("ellipsis-h") %>
        </span>

        <div class="dropdown-menu">
          <% if ReportPolicy.new(::Context.new(current_user), post).create? %>
            <%= post.report_link %>
          <% end %>

          <% if ReportPolicy.new(::Context.new(current_user), post).index? %>
            <%= post.reports_link %>
          <% end %>

          <% if policy(post).update_text? %>
            <%= post.edit_link %>
          <% end %>

          <% if policy(post).update_explicit? %>
            <%= post.explicit_link %>
          <% end %>

          <% if policy(post).update_spoiler? %>
            <%= post.spoiler_link %>
          <% end %>

          <% if policy(post).update_ignore_reports? %>
            <%= post.ignore_reports_link %>
          <% end %>
        </div>
      </span>
    </div>
  </div>
</div>