<%
  # We need this because post partial renders not only in own community context, but in many different contexts
  post_context = ::Context.new(current_user, post.community)
%>

<div class="post col-12 mb-2 pt-2 pb-2 bg-white border rounded">
  <div class="row">
    <div class="info col-12">
      <%= link_to(post.user.username, posts_user_path(post.user)) %>
      <%= t('in') %> <%= link_to(post.community.url, community_path(post.community)) %>
      <%= post.created_at %>

      <% if post.edited? %>
        <%= post.edited_at %>
      <% end %>

      <% if post.explicit? %>
        <span class="explicit"><%= t('explicit') %></span>
      <% end %>

      <% if post.spoiler? %>
        <span class="spoiler"><%= t('spoiler') %></span>
      <% end %>
    </div>

    <div class="title col-12 mt-1">
      <%= link_to(post.title, post_path(post)) %>
    </div>

    <% if post.removed? %>
      <div class="content col-12 mt-2">
        <%= post.removed_message %>
      </div>
    <% elsif post.text? %>
      <div class="content col-12 mt-2 mb-2">
        <%= post.text_html.html_safe %>
      </div>
    <% elsif post.url? %>
      <div class="url col-12 mt-1 mb-1">
        <%= link_to(truncate(post.url, length: 40), post.url, target: "_blank", rel: "nofollow") %>
      </div>
    <% elsif post.image.present? %>
      <div class="content col-12 mt-2 mb-2 pl-0 pr-0 text-center">
        <a href="<%= post.image_url(:original) %>" target="_blank">
          <%= image_tag(post.image_url(:desktop), class: "img-fluid", width: post.image_width, height: post.image_height) %>
        </a>
      </div>
    <% end %>

    <div class="actions col-12">
      <span class="vote">
        <%= post.up_vote_link %>
        <%= post.score %>
        <%= post.down_vote_link %>
      </span>

      <%= post.comments_link %>
      <%= post.bookmark_link %>

      <% if PostPolicy.new(post_context, post).approve? %>
        <%= post.approve_link %>
      <% end %>

      <% if PostPolicy.new(post_context, post).destroy? %>
        <%= post.remove_link %>
      <% end %>

      <span class="menu dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon("ellipsis-h") %>
        </span>

        <div class="dropdown-menu">
          <% if ReportPolicy.new(post_context, Report).create? %>
            <%= post.report_link %>
          <% end %>

          <% if ReportPolicy.new(post_context, Report).index? %>
            <%= post.reports_link %>
          <% end %>

          <% if PostPolicy.new(post_context, post).update_text? %>
            <%= post.edit_link %>
          <% end %>

          <% if PostPolicy.new(post_context, post).update_explicit? %>
            <%= post.explicit_link %>
          <% end %>

          <% if PostPolicy.new(post_context, post).update_spoiler? %>
            <%= post.spoiler_link %>
          <% end %>

          <% if PostPolicy.new(post_context, post).update_ignore_reports? %>
            <%= post.ignore_reports_link %>
          <% end %>
        </div>
      </span>
    </div>
  </div>
</div>