<%= render 'shared/modal', title: t('edit') do %>
  <%= form_with(model: @form, url: post_path(@post), method: :put, class: 'tagForm') do |f| %>
    <div class="modal-body">
      <%= f.text_field :tag %>

      <% if @tags.present? %>
        <div class="form-group">
          <input class="search form-control" placeholder="<%= t('tag_select') %>">
        </div>

        <div class="form-group">
          <div class="list col-12 pl-0">
            <% @tags.each do |tag| %>
              <div class="tag row">
                <div class="col-12">
                    <span class="p-1">
                      <%= tag.title %>
                    </span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.submit t('edit') %>
    </div>
  <% end %>
<% end %>