<% content_for(:meta_title, @post.title) %>

<%= render 'shared/sidebar', sub: @post.sub %>

<div class="col-12 bg-white border rounded mb-3 pt-2 pb-3">
  <%= form_with(model: @form, as: :update_post, url: post_path(@post), method: :put, class: 'updatePostForm') do |f| %>
    <%= f.text_area :title, value: @post.title, rows: 3, disabled: true %>
    <%= f.text_area :text %>
    <%= f.submit t('update') %>

    <span class="formatting float-right mt-2" data-toggle="collapse" data-target="#formatting" aria-expanded="false">
      <%= t('formatting') %>
    </span>

    <div class="collapse mt-2" id="formatting">
      <%= t('formatting_body_html') %>
    </div>
  <% end %>
</div>