<% content_for(:meta_title, t("create_post")) %>

<%= render 'shared/sidebar', community: community %>

<div id="newPost" class="col-12 bg-white border rounded mb-3">
  <div class="row">
    <div class="col-12 p-0">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to(t('text'), "#", class: 'nav-link active h6 border-bottom rounded-0 p-3', data: { target: "text" }) %>
        </li>

        <li class="nav-item">
          <%= link_to(t('link'), "#", class: 'nav-link h6 border-bottom border-left border-right rounded-0 p-3', data: { target: "url" }) %>
        </li>

        <li class="nav-item">
          <%= link_to(t('image'), "#", class: 'nav-link h6 border-bottom rounded-0 p-3', data: { target: "image" }) %>
        </li>
      </ul>
    </div>

    <div id="text" class="col-12 mt-2 mb-3 type">
      <%= form_with(model: @form, url: community_posts_path(community), class: 'createPostForm') do |f| %>
        <%= f.text_area :title, rows: 3 %>
        <%= f.text_area :text %>
        <%= f.text_area :url, rows: 3 %>
        <%= f.file_field :image %>
        <%= f.check_box :explicit %>
        <%= f.check_box :spoiler %>
        <%= f.submit t('create') %>

        <span class="formatting float-right mt-2" data-toggle="collapse" data-target="#formatting" aria-expanded="false">
          <%= t('formatting') %>
        </span>

        <div class="collapse mt-2" id="formatting">
          <%= t('formatting_body_html') %>
        </div>
      <% end %>
    </div>
  </div>
</div>