<% content_for(:meta_title, t("create_post")) %>

<%= render 'shared/sidebar', community: community %>

<div class="col-12 bg-white border rounded mb-3">
  <div class="row">
    <div class="col-12 p-0">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <%= link_to(t('text'), new_text_community_posts_path(community), class: 'nav-link h6 border-bottom rounded-0 p-3') %>
        </li>

        <li class="nav-item">
          <%= link_to(t('link'), new_link_community_posts_path(community), class: 'nav-link active h6 border-bottom border-left border-right rounded-0 p-3') %>
        </li>

        <li class="nav-item">
          <%= link_to(t('image'), new_image_community_posts_path(community), class: 'nav-link h6 border-bottom rounded-0 p-3') %>
        </li>
      </ul>
    </div>

    <div class="col-12 mt-2 mb-3 type">
      <%= form_with(model: @form, url: community_posts_path(community), class: 'createPostForm') do |f| %>
        <%= f.text_area :title, rows: 3 %>
        <%= f.file_field :image %>
        <%= f.check_box :explicit %>
        <%= f.check_box :spoiler %>
        <%= f.submit t('create') %>
      <% end %>
    </div>
  </div>
</div>