<% content_for(:meta_title, t(".meta_title")) %>

<%= render("shared/sidebar", community: community) %>

<div class="new-post-page col-12">
  <%= render("new_navigation") %>

  <%= simple_form_for(@form, url: community_posts_path(community), remote: true) do |f| %>
    <%= f.input :title, as: :text %>
    <%= f.input :url, as: :text %>
    <%= f.input :explicit, as: :boolean %>
    <%= f.input :spoiler, as: :boolean %>
    <%= f.button :submit %>
  <% end %>
</div>