<div class="entry row">
  <div class="title col-12">
    <span>
      <%= datetime_tag(log.created_at, :long) %> <%= link_to(log.user.username, user_path(log.user)) %>
      <% pp log.action %>
      <%= render partial: log.action, object: log, as: :log %>
    </span>

    <% if log.html_details.present? %>
      <div class="actions">
        <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
      </div>
    <% end %>
  </div>

  <% if log.html_details.present? %>
    <div class="details col-12 d-none">
      <%= log.html_details.html_safe %>
    </div>
  <% end %>
</div>