<div class="rules__item row">
  <div class="rules__item-title col-12">
    <%= rule.title %>

    <div class="rules__item-actions">
      <% if policy(rule).update? %>
        <%= link_to(fa_icon('pencil'), edit_community_rule_path(rule.community, rule), remote: true, class: 'rules__item-update-link') %>
      <% end %>

      <% if policy(rule).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'rules__item-delete-link', data: { url: community_rule_path(rule.community, rule) }) %>
      <% end %>

      <% if rule.description.present? %>
        <span class="rules__item-details-link"><%= fa_icon('ellipsis-h') %></span>
      <% end %>
    </div>
  </div>

  <% if rule.description.present? %>
    <div class="rules__item-details col-12">
      <%= rule.description %>
    </div>
  <% end %>
</div>
