<div class="entry row">
  <div class="title col-12">
    <%= rule.title %>

    <div class="actions">
      <% if policy(rule).update? %>
        <%= link_to(fa_icon('pencil'), edit_community_rule_path(rule.community, rule), remote: true, class: 'update') %>
      <% end %>

      <% if policy(rule).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: community_rule_path(rule.community, rule) }) %>
      <% end %>

      <% if rule.description.present? %>
        <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
      <% end %>
    </div>
  </div>

  <% if rule.description.present? %>
    <div class="details col-12 d-none">
      <%= rule.description %>
    </div>
  <% end %>
</div>
