<div class="entry row">
  <div class="title col-12">
    <%= rule.title %>

    <div class="actions">
      <%= link_to(fa_icon('pencil'), edit_rule_path(rule), remote: true, class: 'update') %>
      <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: rule_path(rule) }) %>

      <% if rule.description.present? %>
        <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
      <% end %>
    </div>
  </div>

  <% if rule.description.present? %>
    <div class="details col-12 d-none">
      <%= rule.description %>
    </div>
  <% end %>
</div>
