<% content_for(:second_header) do %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="second-header__sorts-link nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t(sort, scope: "communities.navigation.sorts") %>
      </a>

      <div class="dropdown-menu">
        <% sorts.each do |sort| %>
          <%= link_to(t(sort, scope: "communities.navigation.sorts"), community_path(community, sort: sort), class: 'dropdown-item') %>
        <% end %>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="second-header__dates-link nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= date.present? ? t(date, scope: "communities.navigation.dates") : t("communities.navigation.dates.all") %>
      </a>

      <div class="dropdown-menu">
        <%= link_to(t("home.navigation.dates.all"), community_path(community, sort: sort), class: 'dropdown-item') %>

        <% dates.each do |date| %>
          <%= link_to(t(date, scope: "communities.navigation.dates"), community_path(community, sort: sort, date: date), class: 'dropdown-item') %>
        <% end %>
      </div>
    </li>
  </ul>
<% end %>