<% content_for(:meta_title, @facade.edit_meta_title) %>

<%= render 'shared/sidebar', community: @community %>

<div class="row mt-2 mb-3">
  <div class="col-12 h5 mb-0">
    <%= link_to(t('settings'), edit_community_path(@community)) %>
  </div>

  <div class="col-12">
    <div class="col-12 bg-white border rounded mt-2">
      <div class="row">
        <div class="col-12 pt-3 pb-3">
          <%= form_with(model: @form, url: community_path(@community), method: :put, class: 'subSettingsForm') do |f| %>
            <%= f.text_field :title %>
            <%= f.text_area :description %>
            <%= f.submit t('update') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
