<% content_for(:meta_title, t(".meta_title", community_title: community.title)) %>

<%= render("shared/sidebar", community: community) %>

<%= link_to(t('.title'), edit_community_path(community), class: "h5") %>

<div class="edit-community-page col-12">
  <%= simple_form_for(@form, url: community_path(community), method: :put, remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit %>
  <% end %>
</div>
