<div class="entry row">
  <div class="title col-12">
    <%= link_to(contributor.user.username, contributor.user) %>

    <div class="actions">
      <% if policy(contributor).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: sub_contributor_path(contributor.sub, contributor) }) %>
      <% end %>

      <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
    </div>
  </div>

  <div class="details col-12 d-none">
    <%= t('approved_by') %> <%= link_to(contributor.approved_by.username, contributor.approved_by) %> <%= datetime_tag(contributor.created_at, :short) %>
  </div>
</div>