<% content_for(:meta_title, "#{@user.username}: #{t("comments_votes")}") %>

<%= render "users/sidebar", user: @user %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('votes') %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_user_path(@user), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_user_path(@user), class: 'dropdown-item') %>

      <% if BookmarkPolicy.new(pundit_user, @user).posts? %>
        <%= link_to(t("bookmarks"), posts_user_bookmarks_path(@user), class: 'dropdown-item') %>
      <% end %>

      <%= link_to(t("votes"), posts_user_votes_path(@user), class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("comments") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_user_votes_path(@user), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_user_votes_path(@user), class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t(type || "up_and_down") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("up_and_down"), comments_user_votes_path(@user, type: :all), class: 'dropdown-item') %>

      <% type_options.each do |type| %>
        <%= link_to(t(type), comments_user_votes_path(@user, type: type), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>