<% content_for(:meta_title, "#{@user.username}: #{t("posts_votes")}") %>

<%= render "users/sidebar", user: @user %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('votes') %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_user_path(@user), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_user_path(@user), class: 'dropdown-item') %>

      <% if current_user.id == @user.id %>
        <%= link_to(t("bookmarks"), posts_bookmarks_path, class: 'dropdown-item') %>
        <%= link_to(t("votes"), posts_votes_path, class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("posts") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_votes_path, class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_votes_path, class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t(type || "up_and_down") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("up_and_down"), posts_votes_path(type: :all), class: 'dropdown-item') %>

      <% type_options.each do |type| %>
        <%= link_to(t(type), posts_votes_path(type: type), class: 'dropdown-item') %>
      <% end %>
    </div>
  </li>
<% end %>

<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>