<div class="entry row">
  <div class="title col-12">
    <%= link_to(moderator.user.username, moderator.user) %>

    <div class="actions">
      <% if ModeratorPolicy.new(pundit_user, @sub).destroy? %>
        <%= link_to(fa_icon('trash'), "#", class: 'delete', data: { url: moderator_path(moderator) }) %>
      <% end %>

      <span class="toggleDetails"><%= fa_icon('ellipsis-h') %></span>
    </div>
  </div>

  <div class="details col-12 d-none">
    <%= t('invited_by') %> <%= link_to(moderator.invited_by.username, moderator.invited_by) %> <%= datetime_tag(moderator.created_at, :short) %>.
  </div>
</div>