<% content_for(:meta_title, t("moderators")) %>

<% if @sub.present? %>
  <%= render 'subs/second_top_menu' %>
  <%= render 'subs/sidebar' %>
<% end %>

<div id="moderators" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('moderators'), moderators_path(sub: @sub)) %>
    </div>

    <% if ModeratorPolicy.new(current_user, @sub).create? %>
      <div class="actions">
        <%= link_to(t('create'), new_moderator_path(sub: @sub), remote: true, class: 'create') %>
      </div>
    <% end %>
  </div>

  <div class="search col-12">
    <%= form_with(url: search_moderators_path(sub: @sub), local: true, class: "form-inline") do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("username") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), moderators_path(sub: @sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <% cache_variant = ModeratorPolicy.new(current_user, @sub).update? %>
      <%= render partial: "moderator", collection: @records, cached: ->(moderator) { [moderator, cache_variant] } %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', after: @after_record %>