<% content_for(:meta_title, @facade.index_meta_title) %>

<% if @facade.sub_context? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% else %>
  <%= render 'shared/sidebar' %>
<% end %>

<div id="moderators" class="entries row">
  <div class="head col-12">
    <div class="title">
      <%= link_to(t('moderators'), moderators_path(sub: @sub)) %>
    </div>

    <div class="actions">
      <% if policy(Moderator).create? %>
        <%= link_to(t('create'), new_moderator_path(sub: @sub), remote: true, class: 'create') %>
      <% end %>
    </div>
  </div>

  <div class="search col-12">
    <%= form_with(url: moderators_path, method: :get, local: true, class: "form-inline") do |f| %>
      <%= f.hidden_field :sub, value: params[:sub] %>
      <%= f.text_field :query, value: params[:query], placeholder: t("username") %>
      <%= f.submit t("search") %>
      <%= link_to(t("reset"), moderators_path(sub: @sub), class: "btn btn-primary") %>
    <% end %>
  </div>

  <div class="col-12">
    <div class="body col-12">
      <%= render partial: "moderator", collection: @records %>
    </div>
  </div>
</div>

<%= render 'shared/pagination', pagination: @pagination %>