<%= render 'shared/modal', title: t('report') do %>
  <%= simple_form_for(@form, url: [@reportable, :reports], remote: true) do |f| %>
    <div class="modal-body">
      <% if @rules.present? %>
        <div class="pt-2" data-toggle="collapse" data-target="#reasons" aria-expanded="false">
          <span>
            <%= t('rules_violation') %>
          </span>

          <span class="float-right">
            <%= fa_icon('chevron-down') %>
          </span>
        </div>

        <div class="pt-2 collapse" id="reasons">
          <% @rules.each_with_index do |reason, index| %>
            <div class="custom-control custom-radio">
              <input id="reason-<%= index %>" type="radio" value="<%= reason.title %>" class="reason custom-control-input">
              <label class="custom-control-label" for="reason-<%= index %>"><%= reason.title %></label>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="pt-2" data-toggle="collapse" data-target="#custom-reason" aria-expanded="false">
        <span>
          <%= t('custom_report') %>
        </span>

        <span class="float-right">
          <%= fa_icon('chevron-down') %>
        </span>
      </div>

      <div class="pt-2 collapse" id="custom-reason">
        <%= f.input :text, as: :text %>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('cancel') %></button>
      <%= f.button :submit, t('report') %>
    </div>
  <% end %>
<% end %>