<%= render("shared/modal", title: t('.title')) do %>
  <%= simple_form_for(@form, url: [@reportable, :reports], remote: true) do |f| %>
    <% if @rules.present? %>
      <div class="new-report-modal__reasons-group-title" data-toggle="collapse" data-target="#reasons" aria-expanded="false">
        <span><%= t('reports.new.rules') %></span>

        <span class="float-right">
          <%= fa_icon('chevron-down') %>
        </span>
      </div>

      <div class="new-report-modal__reasons-group-content collapse" id="reasons">
        <% @rules.each_with_index do |reason, index| %>
          <div class="custom-control custom-radio">
            <input id="reason-<%= index %>" type="radio" value="<%= reason.title %>" class="reason custom-control-input">
            <label class="custom-control-label" for="reason-<%= index %>"><%= reason.title %></label>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="new-report-modal__reasons-group-title" data-toggle="collapse" data-target="#custom-reason" aria-expanded="false">
      <span><%= t('reports.new.custom') %></span>

      <span class="float-right">
        <%= fa_icon('chevron-down') %>
      </span>
    </div>

    <div class="new-report-modal__reasons-group-content collapse" id="custom-reason">
      <%= f.input :text, as: :text %>
    </div>

    <%= f.button :submit, t('reports.new.submit') %>
  <% end %>
<% end %>