<% content_for(:meta_title, @facade.comments_meta_title) %>

<% if @facade.sub_context? %>
  <%= render 'subs/sidebar', sub: @sub %>
<% else %>
  <%= render 'shared/sidebar' %>
<% end %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("reports") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("new"), posts_sub_mod_queues_path(@sub), class: 'dropdown-item') %>
      <%= link_to(t("reports"), posts_sub_reports_path(@sub), class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("comments") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), posts_sub_reports_path(@sub), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_sub_reports_path(@sub), class: 'dropdown-item') %>
    </div>
  </li>
<% end %>

<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>