<% content_for(:meta_title, t("reports")) %>

<% content_for(:navigation) do %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("reports") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("new"), mod_queues_path(sub: @sub), class: 'dropdown-item') %>
      <%= link_to(t("reports"), reports_path(sub: @sub), class: 'dropdown-item') %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t("posts") %>
    </a>

    <div class="dropdown-menu">
      <%= link_to(t("posts"), reports_path(sub: @sub), class: 'dropdown-item') %>
      <%= link_to(t("comments"), comments_reports_path(sub: @sub), class: 'dropdown-item') %>
    </div>
  </li>
<% end %>

<% if @sub.present? %>
  <%= render "subs/sidebar", sub: @sub %>
<% end %>

<%= render @records %>
<%= render 'shared/pagination', pagination: @pagination %>