<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Roboto:400,500') %>
    <%= javascript_include_tag('application') %>

    <title><%= yield(:meta_title) %></title>
  </head>

  <body class="bg-light">
  <div class="container-fluid bg-white border-bottom p-0">
    <div class="container p-0">
      <div class="row">
        <div class="col-12">
          <nav class="first-top-menu navbar navbar-expand">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <select id="navigation" class="selectpicker" data-live-search="true" data-size="10" title="<%= t("app_name") %>">
                    <option data-href="<%= root_path %>"><%= t("home")%></option>
                    <option data-href="<%= edit_users_path %>"><%= t("settings") %></option>

                    <% if @facade.communities_moderated_by_user.present? %>
                      <optgroup label="<%= t("mod_queue") %>">
                        <% @facade.communities_moderated_by_user.each do |community| %>
                          <option data-href="<%= community_path(community) %>"><%= community.title %></option>
                        <% end %>
                      </optgroup>
                    <% end %>

                    <% if @facade.communities_followed_by_user.present? %>
                      <optgroup label="<%= t("follows") %>">
                        <% @facade.communities_followed_by_user.each do |community| %>
                          <option data-href="<%= community_path(community) %>"><%= community.title %></option>
                        <% end %>
                      </optgroup>
                    <% end %>
                  </select>
                </li>
              </ul>
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                  <li class="nav-item dropdown ml-2">
                  <span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.username %>
                  </span>

                    <div class="dropdown-menu">
                      <%= link_to(t('profile'), posts_user_path(current_user), class: 'dropdown-item') %>
                      <%= link_to(t('settings'), edit_users_path, class: 'dropdown-item') %>
                      <div class="dropdown-divider"></div>
                      <%= link_to(t('sign_out'), sign_out_path, method: :delete, class: 'dropdown-item') %>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item ml-2">
                    <%= link_to(t('sign_in'), new_sign_in_path, remote: true, class: 'signIn') %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <% navigation = yield(:navigation) %>
  <% if navigation.present? %>
    <div class="container-fluid bg-white border-bottom p-0">
      <div class="container p-0">
        <div class="row">
          <div class="col-12">
            <nav class="second-top-menu navbar navbar-expand">
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                  <%= navigation %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container mt-3">
      <div class="row">
        <div class="col-9">
          <%= yield %>
        </div>

        <div class="col-3">
          <div class="col-12 pl-0">
            <%= yield(:sidebar) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>