<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag('application') %>

    <title><%= yield(:meta_title) %></title>

    <style>
      body, html {
        height: 100%;
      }
    </style>
  </head>

  <body>
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <%= yield %>
      </div>
    </div>
  </body>
</html>