<!doctype html>

<html lang="en">
  <head>
    <%= render("shared/analytics") %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag('application') %>

    <title><%= yield(:meta_title) %></title>
  </head>

  <body class="bg-white">
    <%= render "shared/first_top_menu" %>

    <% sidebar = yield(:sidebar) %>
    <% if sidebar.present? %>
      <div class="container">
        <%= sidebar %>
      </div>
    <% end %>

    <%= render "shared/second_top_menu" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>